<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body style="background-color: crimson">

<div class="container">
    <form method="post" action="/update{{ user.id }}">
        {% csrf_token %}
        <div class="form-group">
            <label><a>User Name:</a></label>
            <label>
                <input type="text" name="uname" class="form-control" value="{{ user.uname }}">
            </label>
        </div>

         <div class="form-group">
            <label><a>User Email:</a></label>
             <label>
                 <input type="text" name="uname" class="form-control" value="{{ user.uemail }}">
             </label>
         </div>

         <div class="form-group">
            <label><a>User Password:</a></label>
             <label>
                 <input type="text" name="uname" class="form-control" value="{{ user.upassword }}">
             </label>
         </div>
        <input type="submit" name="Update" value="Update" class="btn btn-success">
    </form>

</div>


</body>
</html>